# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.db

# Node
node_modules/
dist/
.DS_Store
*.local

# IDE
.idea/
.vscode/
*.swp
# Keep shared PyCharm run configs
!.run/
!.run/**

# Logs
*.log
npm-debug.log*
